* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
#box {
    width: 100%;
    /* background:#cccccc; */
}

#box .content {
    width: 1200px;
    margin: auto;
    /* border: 1px solid orangered; */
}

/* 头部 */
#box .toolbar {
    width: 100%;
    height: 29px;
    background: #fafaff
}

#box .toolbar .list {
    float: right;
    display: flex;
    font-size: 12px;
    line-height: 29px;
}

#box .toolbar .list a {
    padding: 0 18px;
    color: #000000;
    border-right: 1px solid #cccccc;
}

#box .toolbar .list li:last-child a {
    border: none;
}

#box .toolbar .list li .a1 {
    border: none;
    padding-right: 0px;
}

#box .toolbar .list li .a2 {
    padding-left: 4px;
}

#box .toolbar .list :nth-child(4) a {
    color: red;
}

#box .toolbar .list a:hover {
    color: red;
}

#box .toolbar .list a:hover i {
    color: #000000;
}

#box .toolbar .list .lis2 {
    position: relative;
}

#box .toolbar .list .lis2 .after {
    width: 100%;
    padding: 4px;
    box-shadow: 0px 8px 10px gray;
    position: absolute;
    left: 0px;
    bottom: -96px;
    background: #fafaff;
    display: none;
}

#box .toolbar .list .lis2 .after img {
    width: 100%;
}

#box .toolbar .list .lis2:hover .after {
    z-index: 999999;
    display: block;
}

#box .toolbar .list .span0 {
    margin-left: 2px;
    color: red;
}

.area {
    width: 100%;
    height: 77px;
    background: #ffffff;
    display: flex;
    margin-bottom: 30px;
}

.area .l {
    margin-top: 20px
}

.area .l .l_img img {
    width: 255px;
    height: 55px;
    display: inline-block;
}

.search {
    /* width: 547px; */
    height: 39px;
    margin: 30px 0px 0px 30px;
    border: 2px solid #e60044;
    border-right: none;
    color: #cccc;
    position: relative;


}

.sear {
    width: 111px;
    height: 100%;
    display: inline-block;
    background: url(../img/index-common.png);
    background-position: 237px -34px;
    color: #ffffff;
    line-height: 35px;
    padding-left: 32px;


}

.search input {
    border: none;
    width: 375px;
    height: 28px;
    outline: none;
}

.search .sc {
    display: inline-block;
    height: 24px;
    width: 40px;
    background: url(../img/index-common.png);
    background-position: -31px 0;
    position: absolute;
    right: 0px;
    bottom: 3px
}

.search .sc_r {
    position: absolute;
    top: -2px;
    right: -15px;
    width: 15px;
    height: 39px;
    background: url(../img/index-common.png);
    background-position: 0px -34px;

}

.area .link {
    margin-top: 30px;
    width: 340px;
    height: 40px;
    margin-left: 80px;
}

.head-nav {
    width: 100%;
    height: 40px;
}

.head-nav .nav-1 {
    float: left;
    overflow: hidden;
}

.head-nav .nav-1 a {
    display: inline-block;
    width: 127px;
    text-align: center;
    color: rgba(109, 100, 100, 0.8);
    line-height: 38px;
    font-size: 16px;
    border-bottom: 2px solid #ffffff;
}

.head-nav .nav-1 a:hover {
    border-bottom: 2px solid orangered;
    box-shadow: 0px 6px 10px #3d3838;

}

.head-nav .nav-1 a:nth-child(1):hover {
    border: none;
}

.head-nav .nav-1 a:nth-child(1) {
    color: #ffffff;
    background: #e60044;
    width: 150px;
    border: none;
}

.head-nav .nav-1 a:hover {
    border-bottom: 2px solid orangered;

}

.head-nav .r_con {
    float: right;
    width: 126px;
    height: 40px;
    position: relative;
}

.head-nav .r_con .sign {
    width: 500px;
    height: 360px;
    position: absolute;
    right: 1px;
    top: 41px;
    display: none;
}

.head-nav .r_con:hover .sign {
    display: block;
    z-index: 9999;
}

.line {
    border-top: 1px solid #cccc;
}

/* 吸顶菜单部分 */
#junav1 {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 0;
    box-shadow: 0 0 5px 0 #646464;
    margin-top: 0;
    background: #ffffff;
    display: none;
}

#junav1 .ll {
    border: 1px solid red;
}

#junav1 .junavInfo {
    overflow: hidden;
    width: 100%;
    line-height: 40px;
}

#junav1 .junavInfo .tophref {
    float: left;
    display: flex;

}

#junav1 .junavInfo .tophref a {
    margin-right: 20px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}

#junav1 .junavInfo .tophref a:first-child {
    color: red;
}

#junav1 .junavInfo .tophref a:hover {
    color: red;
}

#junav1 .junavInfo .search1 {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;

}

#junav1 .junavInfo .search1 form {
    display: flex;
}

#junav1 .junavInfo .search1 .txt {
    width: 129px;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    outline: none;
    padding-left: 10px
}

#junav1 .junavInfo .search1 .smt {
    width: 82px;
    height: 29px;
    border: 0;
    cursor: pointer;
    background: url(../img/index-common.png) -189px 0 no-repeat;
    margin: 0 0 1px -1px;
}

#areahome {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
}

#areahome a {
    margin-right: 20px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}

#areahome a:first-child {
    color: red;
}

#areahome a:hover {
    color: red;
}


/* 侧栏导航 */
#sidebar {
    width: 34px;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 3333;
    color: #fff;
}

#sidebar .sidebar-cart {
    margin-top: 50px;
    width: 100%;
    height: 135px;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
}

#sidebar .sidebar-cart:hover {
    background: #C00;
}

#sidebar .sidebar-cart .cart-icon {

    margin: 14px auto 0;
    width: 19px;
    height: 17px;
    background: url(../img/sidebar_cart.png)
}

#sidebar .sidebar-cart .tab-text {
    margin: 10px auto 0;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C00;

}

#sidebar .sidebar-cart:hover .tab-text {
    background: #Ffffff;
    color:#C00;
}

#sidebar .sidebar-cart .tab-text-cart {
    width: 20px;
    margin: 10px auto 0;
    text-align: center;
}

#sidebar .side-tab-top1 {
    display: block;
    width: 34px;
    height: 44px;
    position: relative;
    cursor: pointer;
}

#sidebar .side-tab-top1:hover {
    background: #C00;
}

#sidebar .side-tab-top1 .tab-icon {
    width: 100%;
    height: 100%;
    background: url(../img/side_golds.png) no-repeat 6px -188px;
}

#sidebar .side-tab-top1 .tab-tip {
    height: 100%;
    width: 125px;
    font-size: 12px;
    position: absolute;
    right: 34px;
    top: 0;
    background: #C00;
    text-align: center;
    display: none;
}

#sidebar .side-tab-top1 .tab-tip a {
    font-size: 12px;
    line-height: 42px;
    color: #Ffffff;

}

#sidebar .side-tab-top1:hover .tab-tip {
    display: block;
}

#sidebar .side-tab-top1 .coupons-icon {
    background: url(../img/quan_iconnew.png) no-repeat;
    background-position: center;
}

#sidebar .side-tab-top1 .myFavorites-icon {
    background: url(../img/myFavorites.png) no-repeat;
    background-position: center;
}

#sidebar .side-tab-top1 .imMessage-icon {
    background: url(../img/side_golds.png) 4px -228px;

}

#sidebar .side-tab-top1 .checkin-icon {
    background: url(../img/sidePanel_checkin1N.gif) no-repeat;
    
}

#sidebar .side-tab-top1:hover .checkin-icon{
    background: url(../img/side_golds.png) 0px -47px;
}
#sidebar .side-tab-top1 .checkin a{
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    display: inline-block;
    height: 100%;
    padding: 0 8px;
    
}
#sidebar .side-tab-top1 .gender-icon{
    background: url(../img/sidePanelIconsNew.png) -386px 4px;
}
#sidebar .side-tab-top1 .gender a{
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    line-height: 14px;
    border: 1px solid #fff;
    background: #c7000b;
    color: #fff;
    margin: 12px 1px;
    border-radius: 3px;
}
#sidebar .side-tab-top1 .gender a:last-child{
    background: #Ffffff;
    color: red;
}
#sidebar .side-tab-top1 .qrcode-icon{
    background: url(../img/sidePanelIconsNew.png) -267px 4px;
}
#sidebar .side-tab-top1 .qrcode{
    width: 106px;
    height: 144px;
    position: absolute;
    top: 0;
    right: 34px;
    background: url(../img/side_two_dimension.png) no-repeat;
}
#sidebar .side-tab-top1 .faq-icon{
    background:url(../img/sidePanelIconsNew.png) -330px 4px;
}
#sidebar .side-tab-top1 .feedback-icon{
    background:url(../img/sidePanelIconsNew.png) -501px 3px;
}
#sidebar .side-tab-top1 .totop-icon{
    background:url(../img/sidePanelIconsNew.png) -554px 2px;
}

/* 轮播图部分 */
#nav_warpper {
    width: 100%;
    height: 308px;
    border: 1px solid #cccc;
    border-top: none;
}

#nav_warpper .index_nav {
    width: 150px;
    height: 100%;
    float: left;
    border-right: 1px solid #cccccc;
}

#nav_warpper .index_nav .index_list {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    position: relative;
}

#nav_warpper .index_nav .index_list>li {
    border-bottom: 1px solid #cccc;
    text-align: center;
    font-size: 14px;
}

#nav_warpper .index_nav .index_list li:hover a {
    color: red;
    text-decoration: underline;
}

#nav_warpper .index_nav .index_list>li:last-child {
    border: none;
    font-size: 12px;
}

#nav_warpper .index_nav .index_list li a {
    line-height: 28px;
    padding: 8px;
    color: #3d3838;
}

#nav_warpper .index_nav .index_list li:nth-child(9) a {
    font-size: 12px;
    padding: 1px;
    padding-left: 0px;

}

#nav_warpper .index_nav .index_list .index_li_rt {
    position: absolute;
    top: 0;
    left: 149px;
    border: #cccccc 1px solid;
    background: #Ffffff;
    width: 370px;
    height: 100%;
    padding: 0px 13px;
    display: none;
    z-index: 999;
}

#nav_warpper .index_nav .index_list .index_li_rt .lt {
    float: left;
    width: 196px;
}

#nav_warpper .index_nav .index_list .index_li_rt .rt {
    float: right;
}

.index_nav .index_list .index_li_rt .lt dl {
    display: flex;
    flex-wrap: wrap;
}

.index_nav .index_list .index_li_rt .lt dl dt {
    width: 100%;
    text-align: left;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #cccc;
    color: red;
    cursor: pointer;
}

.index_nav .index_list .index_li_rt .lt dl dd {
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
}

.index_nav .index_list .index_li_rt .lt dl dd:hover {
    color: red;
}

.index_nav .index_list .index_li_rt .rt {
    width: 140px;
    height: 100%;
}

.index_nav .index_list .index_li_rt .rt li {
    margin: 6px 0px;
    width: 138px;
    height: 93px;
    border: 1px solid #ffffff;
}

.index_nav .index_list .index_li_rt .rt li:hover {
    border: 1px solid red;
}

.index_nav .index_list .index_li_rt .rt img {
    display: block;
    width: 100%;
    height: 100%;
}

#nav_warpper .index_nav .index_list>li:hover .index_li_rt {
    display: block;
}

.rt_warpper {
    float: left;
    width: 948px;
    height: 100%;
    /* overflow: hidden; */
    position: relative;

}

.rt_warpper .banner {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.rt_warpper .banner>img {
    width: 100%;
    height: 100%;
}

.rt_warpper>.banner>ul {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 138px;
    height: 284px;
}

.rt_warpper>.banner>ul>li {
    width: 137px;
    height: 137px;
    margin-top: 10px;
}

.rt_warpper>.banner>ul>li>img {
    width: 100%;
    height: 100%;
}

#nav_warpper .banner_r {
    float: right;
    width: 98px;
    height: 100%;
    text-align: center;

}

#nav_warpper .banner_r div {
    /* width: 80px; */
    height: 83px;
    text-align: center;
    margin-top: 15px
}

#nav_warpper .banner_r a {
    color: red;
    font-size: 14px;

}

#nav_warpper .banner_r span {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
}

#nav_warpper .banner_r .top_img {
    background: url(../img/index-common.png);
    background-position: 40px -34px;

}

#nav_warpper .banner_r .mid_img {
    background: url(../img/index-common.png);
    background-position: 40px -34px;
}

#nav_warpper .banner_r .bot_img {
    width: 60px;
    height: 60px;
    background: url(../img/160x160.257ef30a268a72c79e4f0bc49fa6bc2b.80x80.png);
    background-size: contain;

}

.rt_warpper .list-index {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -64px;
}

.lis {
    width: 12px;
    height: 12px;
    background: #ffff;
    box-shadow: 0px 3px 3px rgba(116, 111, 111, 0.8);
    border-radius: 50%;
    margin: 10px;
}

.active {
    background: red;
}

/* 品牌精选 */
#sele {
    width: 100%;
    height: 407px;
}

#sele .brand_infor {
    margin-top: 32px;
    border-bottom: 1px solid #ff404c;
    padding-bottom: 3px;
    height: 40px;
    text-align: left;
    position: relative;
}

#sele .brand_infor_tit {
    margin-left: 13px;
    padding-left: 140px;
    background: url(../img/sele1.png) no-repeat;
    font-size: 24px;
    line-height: 37px;
}

#sele .circle {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ff404c;
    position: absolute;
    top: 19px;
    left: 163px;
}

#sele .brand_count {
    font-size: 14px;
    color: #666;
    line-height: 37px;
    margin-left: 18px;
}

#sele .brand_infor_cat {
    float: right;
    width: 447px;
    margin-top: 12px;
    line-height: 28px;
}

#sele .brand_infor_cat a em {
    color: #333;
    font-size: 14px;
    font-style: normal;
    padding: 0 6px;
}

#sele .brand_infor_cat a:hover em {
    color: red;
}

#sele .brand_infor_cat a:last-child {
    background: red;
    padding: 0 10px;
    display: inline-block;
    line-height: 28px;
    margin-left: 1px;
}

#sele .brand_infor_cat a:last-child em {
    color: #Ffffff;
}

#sele .fir {
    margin-bottom: 10px;
    height: 200px;
}

#sele .fir li {
    width: 392px;
    height: 200px;
    margin-right: 11px;
    float: left;
    position: relative;
    transition: all .5s;


}

#sele .fir li:hover {
    box-shadow: 0px 6px 10px rgba(109, 104, 104, 0.8);

}

#sele .fir li:last-child {
    margin: 0;
}

#sele .fir li img {
    width: 100%;
    height: 100%;
}

#sele .fir li span {
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgba(5, 8, 9, .45);
    color: #Ffffff;
    font-size: 12px;
    line-height: 25px;
    left: 0;
    bottom: 0px;
}

/*logo部分*/
.logo {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;

}

.logo li {
    width: 120px;
    height: 60px;
    border-left: #ffff 3px solid;
    border-right: #ffff 3px solid;
    position: relative;

}

.logo li img {
    width: 100%;
    height: 100%;
}

.logo li:hover {
    border-left: rgb(177, 171, 171) 3px solid;
    border-right: rgb(177, 171, 171) 3px solid;
}

.logo li:first-child {
    border-left: none;
}

.logo li:nth-child(11) {
    border-left: none;
}

.logo li:nth-child(10) {
    border-right: none;
}

.logo li:nth-child(20) {
    border-right: none;
}

.logo li a i {
    display: block;
    height: 18px;
    top: 23px;
    position: absolute;
    right: -1px;
    border-right: 1px solid #eaeaea;
}

.logo li:nth-child(10) i {
    display: none;
}

.logo li:nth-child(20) i {
    display: none;
}

/*限时秒杀*/
.limit .brand_infor {
    border-bottom: 1px solid #ff404c;
    padding-bottom: 3px;
    height: 40px;
    text-align: left;
    position: relative;
}

.limit .brand_infor_tit {
    margin-left: 13px;
    padding-left: 140px;
    background: url(../img/limit.png) no-repeat;
    font-size: 24px;
    line-height: 37px;
}

.limit .circle {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ff404c;
    position: absolute;
    top: 19px;
    left: 163px;
}

.limit .brand_count {
    font-size: 14px;
    color: #666;
    line-height: 37px;
    margin-left: 18px;
}

.limit .brand_infor_cat {
    float: right;
    width: 588px;
    margin-top: 10px;
    line-height: 28px;
}

.limit .brand_infor_cat a em {
    color: #333;
    font-size: 12px;
    font-style: normal;
    padding: 6px;
}

.limit .brand_infor_cat a:hover em {
    background: red;
    color: #Ffffff;
}

.limit .brand_infor_cat a:nth-child(6) em {
    background: red;
    color: #Ffffff;
}

.limit {
    border-bottom: 1px solid #cccc;
    height: 300px;
}

.limit .fir {
    margin-bottom: 10px;
    height: 200px;
}

.limit .fir li {
    width: 185px;
    height: 255px;
    margin-right: 18px;
    float: left;
    transition: all .5s;
}

.limit .fir li:hover {
    box-shadow: 0px 6px 15px rgba(78, 74, 74, 0.8);

}

.limit .fir li:last-child {
    margin: 0;
}

.limit .fir li .fir_bor {
    width: 100%;
    height: 185px;
    position: relative;
    overflow: hidden;
}

.limit .fir li img {
    width: 100%;
    height: 185px;
}

.limit .fir li span {
    position: absolute;
    width: 100%;
    transition: all .2s;
    overflow: hidden;
    text-align: center;
    background: rgba(18, 18, 19, 0.45);
    opacity: 0.8;
    color: #Ffffff;
    font-size: 12px;
    line-height: 20px;
    left: 0;
    bottom: -25px;
}

.limit .fir li a h4 {
    font-size: 16px;
    color: red;
    padding: 10px 12px;
}

.limit .fir li a p {
    color: #666666;
    font-size: 12px;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.limit .fir li:hover span {
    bottom: 0px;
}

/*热销部分*/

#hot .brand_infor {
    margin-top: 32px;
    border-bottom: 1px solid #ff404c;
    padding-bottom: 3px;
    height: 40px;
    text-align: left;
    font-size: 14px;
    color: #666;
    position: relative;
}

#hot .brand_infor a {
    color: #666
}

#hot .brand_infor a:hover {
    color: red;
}

#hot .brand_infor_tit {
    margin-left: 13px;
    padding-left: 140px;
    background: url(../img/hot.png) no-repeat;
    font-size: 24px;
    line-height: 37px;
}

#hot .circle {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ff404c;
    position: absolute;
    top: 19px;
    left: 163px;
}

#hot .brand_count {
    font-size: 14px;
    color: #666;
    line-height: 37px;
    margin-left: 18px;
}

#hot .fir {
    margin-bottom: 10px;
    height: 200px;
}

#hot .fir li {
    width: 232px;
    height: 159px;
    margin-right: 10px;
    float: left;
    position: relative;
    transition: all .5s;
}

#hot .fir li:hover {
    box-shadow: 0px 6px 10px rgba(109, 104, 104, 0.8);

}

#hot .fir li:last-child {
    margin: 0;
}

#hot .fir li img {
    width: 100%;
    height: 100%;
}

/* <-----------------> */








/* 今日更新 */
#tonew {
    width: 100%;
    height: 407px;
}

#tonew .brand_infor {
    margin-top: 32px;
    border-bottom: 1px solid #ff404c;
    padding-bottom: 3px;
    height: 40px;
    text-align: left;
    position: relative;
}

#tonew .brand_infor_tit {
    margin-left: 13px;
    padding-left: 160px;
    background: url(../img/new.png) no-repeat;
    font-size: 24px;
    line-height: 37px;
}

#tonew .circle {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ff404c;
    position: absolute;
    top: 19px;
    left: 183px;
}

#tonew .brand_count {
    font-size: 14px;
    color: #666;
    line-height: 37px;
    margin-left: 18px;
}

#tonew .brand_infor_cat {
    float: right;
    margin-top: 10px;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

#tonew .brand_infor_cat a em {
    color: #333;
    font-size: 14px;
    font-style: normal;
    padding: 0 6px;
}

#tonew .brand_infor_cat a:hover em {
    color: red;
}

#tonew .brand_infor_cat a:last-child {
    background: red;
    padding: 0 10px;
    display: inline-block;
    line-height: 28px;
    margin-left: 1px;
}

#tonew .brand_infor_cat a:last-child em {
    color: #Ffffff;
}

#tonew .bg {
    background: #f2f2f2;
}

#tonew .l-tonew {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tonew .l-tonew li {
    background: #Ffffff;
    margin-bottom: 30px;
    width: 23.6%;
    transition: all .5s;
}

#tonew .l-tonew li .tonewimg {
    width: 100%;
    height: 283px;
    cursor: pointer;
}

#tonew .l-tonew li:hover {
    box-shadow: 0px 6px 10px rgba(109, 104, 104, 0.8);
}

#tonew .l-tonew li img {
    width: 100%;
    height: 100%;
}

#tonew .l-tonew li .l-title {
    padding: 0 10px;
    font-size: 12px;
    color: #666666;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

#tonew .l-tonew li a {
    display: inline-block;
    /* width: 185px; */
    color: #666666;
}

#tonew .l-tonew li a:hover {
    text-decoration: underline;
}

#tonew .l-tonew li .coupon-collect {
    position: relative;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

#tonew .l-tonew li .coupon-collect .coupon {
    font-size: 16px;
    color: #ec1611;
    display: inline-block;
    width: 194px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tonew .l-tonew li .coupon-collect .brand_fav {
    right: 10px;
    top: 0;
    position: absolute;
    background: url(../img/big_img_v3.png) no-repeat -493px -64px;
    font: 12px/14px "microsoft yahei";
    padding-left: 18px;
    cursor: pointer;
    margin-top: 8px;
}

#tonew .l-tonew li .coupon-collect .brand_fav:hover {
    background: url(../img/favorite_icon.png) 0 -3px no-repeat;
    color: #ec1611;
}

#pic {
    width: 100%;
    height: 159px;
}

#pic .bt-hot {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#pic .bt-hot li {
    width: 19.3%;
    height: 100%;
    transition: all .5s;
}

#pic .bt-hot li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#pic .bt-hot li a img {
    width: 100%;
    height: 10%;
}

#pic .bt-hot li:hover {
    box-shadow: 0px 6px 10px rgba(109, 104, 104, 0.8);
}

#pag {
    width: 100%;
    margin-top: 10px;
    height: 90px;
}

#pag .lis-pag {
    vertical-align: middle;
    width: 404px;
    height: 50px;
    text-align: center;
    color: #666666;
    margin: auto;


}

.lis-pag span {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    line-height: 30px;
    width: 25px;
    padding: 0;
    cursor: pointer;
}

.lis-pag .prve {
    width: 30px;
    height: 30px;
    background: url(../img/prev_nextpng.png);
    background-position: -46px -32px;
}

.current {
    color: red;
}

.lis-pag .next {
    width: 30px;
    height: 30px;
    background: url(../img/prev_nextpng.png);
    background-position: -46px 0;
}

.pag-bg {
    padding-bottom: 90px;
}

footer {
    width: 100%;
    border-top: 2px solid red;
}

footer .abaut {
    height: 298px;
    width: 100%;
}

footer .abaut ul {
    display: flex;
}

footer .abaut ul li {
    padding-top: 28px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer .abaut ul li span {
    display: block;
    font: 16px/30px "microsoft yahei";
    color: #333;
}

footer .abaut ul li .sicont {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
}

footer .abaut ul li a {
    font-size: 12px;
    line-height: 24px;
    color: #999999;
}

footer .abaut ul li a:hover {
    color: red;
    text-decoration: underline;
}

footer .abaut ul li .abauts {
    background: url(../img/foot_icon.png);
}

footer .abaut ul li .shoping {
    background: url(../img/foot_icon.png);
    background-position: -95px 0;
}

footer .abaut ul li .basscom {
    background: url(../img/foot_icon.png);
    background-position: 0 -95px;
}

footer .abaut ul li .usersfas {
    background: url(../img/foot_icon.png);
    background-position: -190px 0;
}

footer .abaut ul li .nextto {
    background: url(../img/foot_icon.png);
    background-position: -95px -95px;
}

footer .abaut ul li .bot-logo {
    margin-top: 6px;
    margin: 0 auto;
    width: 104px;
    height: 220px;
    background: url(../img/footer_code.png) no-repeat;
}

.abaut ul li h3,
.abaut ul li h4,
.abaut ul li h5,
.abaut ul li h6 {
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.abaut ul li h3 i,
.abaut ul li h4 i {
    font-style: normal;
    color: red;
}

.abaut ul li h6 .txt {
    height: 21px;
    line-height: 21px;
    width: 98px;
    padding-left: 5px;
    color: #ccc;
    font-family: "微软雅黑";
}

.abaut ul li h6 .sbm {
    line-height: 25px;
    width: 42px;
    cursor: pointer;
    color: #999;
    font-family: "微软雅黑";
}

.abaut ul li:last-child span {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.friendly_links {
    margin: 0 auto;
    color: #666;
    width: 750px;
    line-height: 20px
}

.friendly_links span {
    float: left;
    color: #999;
    font-family: "微软雅黑"
}

.friendly_links .links {
    float: left;
    width: 620px;
    height: 20px;
    overflow: hidden;
    position: relative;
    font-family: "微软雅黑"
}

.friendly_links .links ul {
    height: 20px;
    position: absolute;
    left: 0;
    top: 0
}

.friendly_links .links ul li {
    float: left;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin-bottom: 5px
}

.friendly_links .links ul li a {
    color: #999;
    margin-right: 10px;
    float: left
}

.friendly_links .more {
    float: left;
    margin-left: 10px;
    color: #999;
    font-family: "微软雅黑"
}

.friendly_links .more:hover {
    color: #ec1611
}

footer .fl-link {
    padding-top: 20px;
    width: 750px;
    margin: auto;
}

footer .fl-link span {
    float: left;
    color: #999;
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 20px;
}

footer .fl-link .links {
    float: left;
    width: 620px;
    height: 20px;
    overflow: hidden;
    position: relative;
}

footer .fl-link .links ul {
    position: absolute;
    left: 0px;
    top: 0px;
}

footer .fl-link a {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

footer .fl-link a:hover {
    text-decoration: underline;
}

footer .fl-link>a:last-child:hover {
    color: red;
}

footer .foot-con {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    margin-top: 10px;
    color: #999999;
}

footer .foot-con a {
    color: #999999;
}

footer .foot-con a:hover {
    text-decoration: underline;
}

footer .foot-lg {
    text-align: center;
    margin-bottom: 20px;
}

footer .foot-lg .span1 {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin: 3px;
    background: url(../img/logo.jpg);
    background-size: contain;
}

footer .foot-lg .span2 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 3px;
    background: url(../img/gsrz-icon.jpg);
    background-size: contain;
}